 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
  margin: -1064px 1396px 60px -256px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 6rem;
  margin: 153px 553px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 26px 820px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 60px auto 0 0;
  padding: 12px 32px 13px 30px;
}

.u-section-1 .u-image-1 {
  width: 734px;
  height: 650px;
  margin: -513px 0 0 auto;
}

.u-section-1 .u-text-4 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 6rem;
  margin: -1039px 1449px 60px -308px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 83px;
    margin-right: 353px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -397px;
    margin-right: 620px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 449px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 634px;
    margin-top: -515px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 435px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1027px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 220px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 392px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-image-1 {
    height: 635px;
    margin-right: -590px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -868px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 378px;
    margin-right: -470px;
  }

  .u-section-1 .u-text-4 {
    margin: 683px 0 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    margin: 83px auto 60px 0;
    padding: 12px 32px 13px 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px 744px 0 60px;
}

.u-section-2 .u-icon-1 {
  width: 39px;
  background-image: none;
  height: 39px;
  color: rgb(0, 0, 0) !important;
  margin: 31px auto 0 400px;
  padding: 5px;
}

.u-section-2 .u-icon-2 {
  width: 39px;
  background-image: none;
  height: 39px;
  margin: -39px auto 0 60px;
  padding: 7px;
}

.u-section-2 .u-icon-3 {
  width: 39px;
  background-image: none;
  height: 39px;
  color: rgb(0, 0, 0) !important;
  margin: -39px 374px 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 23px 818px 0 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -36px 520px 0 400px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -72px 73px 0 727px;
}

.u-section-2 .u-text-5 {
  margin: 94px 522px 0 400px;
}

.u-section-2 .u-text-6 {
  margin: -75px 862px 0 60px;
}

.u-section-2 .u-text-7 {
  margin: -150px 194px 60px 727px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 43px;
    margin-right: 604px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 26px;
    margin-left: 11px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
    margin-left: 328px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 13px;
    margin-right: 678px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 392px;
    margin-left: 328px;
  }

  .u-section-2 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 38px;
    margin-left: 626px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 24px;
    margin-right: 394px;
    margin-left: 328px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -76px;
    margin-right: 722px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -152px;
    margin-right: 95px;
    margin-left: 626px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 384px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 250px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 199px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-3 {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: -38px;
    margin-left: 482px;
  }

  .u-section-2 .u-text-5 {
    width: 218px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 502px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 19px;
    margin-left: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 204px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 180px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 286px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -309px;
    margin-right: 321px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 248px;
    margin-right: 354px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -309px;
    margin-right: 0;
    margin-left: 322px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 322px;
  }

  .u-section-2 .u-text-7 {
    margin: 168px 321px 46px 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 77px;
    margin-right: 4px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 235px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 196px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -502px;
    margin-right: 121px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 255px;
    margin-right: 120px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 179px;
    margin-right: 155px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -220px;
    margin-right: 123px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -369px;
    margin-right: 122px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 381px;
    margin-right: 122px;
    margin-bottom: 60px;
  }
}.u-block-b2cf-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b2cf-3 {
  position: absolute;
  left: 0;
}

.u-block-b2cf-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3-1 .u-text-1 {
  margin: 114px auto 0;
}

.u-section-3-1 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-3-2 {
  background-image: none;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3-2 .u-text-1 {
  margin: 114px auto 0;
}

.u-section-3-2 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3-2 .u-text-2 {
    margin-bottom: 0;
  }
}

 .u-section-3-3 {
  background-image: none;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 507px;
}

.u-section-3-3 .u-text-1 {
  margin: 114px auto 0;
}

.u-section-3-3 .u-text-2 {
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 561px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 511px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 510px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 231px;
}

.u-section-4 .u-image-1 {
  width: 500px;
  height: 137px;
  margin: 47px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 500px;
  height: 65px;
  margin: -101px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 132px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -241px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 63px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 35px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 93px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 44px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-group-1 {
  width: 504px;
  min-height: 406px;
  margin: 56px auto 38px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 215px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 155px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 28px 162px 0 auto;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: -35px auto 3px 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 7px;
    margin-right: 78px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -29px;
    margin-bottom: 0;
    margin-left: 14px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 552px;
    margin: 0 -12px 0 auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 26px 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 22px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -25px;
    margin-left: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -69px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 41px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 18px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -82px;
  }
}